@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: blog;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-very-light-gray);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  /* empty */
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
