@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from 'part:@sanity/dashboard/widget-styles';
  display: flex;
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
  flex: 1;
}

.actions {
  margin-right: var(--small-padding);
}

.actionButton {
  appearance: none;
  border-radius: 0;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 7px 6px 6px;
  color: inherit;
  outline: none;

  @nest & svg {
    font-size: 25px;
    vertical-align: top;
  }

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
    }
  }
}

.content {
  border-top: 1px solid var(--hairline-color);
  padding: var(--small-padding) 0;
}

.item {
  padding: var(--small-padding) calc(var(--small-padding) + var(--medium-padding));
  display: flex;
}

.itemPreview {
  width: 4em;
  background: #eee;
  margin-right: var(--small-padding);

  @nest & img {
    width: 100%;
    height: 100%;
  }
}

.itemText {
  flex: 1;
}

.itemTitle {
  line-height: 1.3em;
}

.itemSubtitle {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.5em;
  padding-bottom: 0.25em;
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
}
