GATSBY_SANITY_PROJECT_ID="<#< sanity.projectId >#>"
GATSBY_SANITY_DATASET="<#< sanity.dataset >#>"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN=""

